.box-profile {
    width: 50%;
    margin: 0 auto;
}
.help-block{
    color: red;
}

.content-img{
    width: 40%;
    text-align: center;
}
.content-form{
    width: 50%;
}
.icon-profile {
    font-size: 200px;
}
