---
openapi: 3.0.3
info:
  title: Withings developer documentation
  description: something
  version: "3.0"
  x-logo:
    url: /img/logo_withings.svg
servers:
- url: https://wbsapi.withings.net/
- url: https://account.withings.com/
tags:
- name: oauth2
  x-displayName: OAuth2
- name: dropshipment
  description: |-
    The following services are part of the Device & Logistics API. Refer to [Device & Logistics API](/developer-guide/logistics-api/how-to-use-logistics-api) section for more information.

    The dropshipment API allows Partners to create dropshipment orders. The devices will be shipped directly to the end-user using the information provided in the order. Please make sure all information provided is correct.

    **Important**: To receive automatic notification on order status, please complete the Dropshipment notify URI listed in the [Withings partner dashboard](https://account.withings.com/partner/dashboard_oauth2).
  x-displayName: Dropshipment
- name: user
  x-displayName: User
- name: measure
  description: Following endpoints allows you to retrieve several types of tracked user data. Data is only available after synchronization between customer mobile application and our platform.
  x-displayName: Measure
- name: heart
  description: "ECG (or EKG) recording is available on the following Withings devices : [BPM Core](https://www.withings.com/bpm-core) (blood pressure monitor) and [Move ECG](https://www.withings.com/move-ecg) (activity tracker). The signal unit is micro-volt (μV). ECG feature in both devices is clinically validated and obtained medical CE marking.\n\t\t\nYou should use the [Heart - List](#operation/heartv2-list) service to get the list of recordings and then use [Heart - Get](#operation/heartv2-get) to get the complete signal of a recording using his signalid.\n\t\t\n**Note:** For the Move ECG or BPM Core configured in Bluetooth, the recordings are available on the API once data are synchronized with the Health Mate application."
  x-displayName: Heart
- name: sleep
  description: "Gets different types of sleep measurements for a user with an Activity Tracker or a Sleep Monitor.\n\t\t\nWith a tracker, data is made available after the measurements are synchronized with the Health Mate mobile application."
  x-displayName: Sleep
- name: notify
  description: To get more information on notification feature, refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section
  x-displayName: Notify
- name: signature
  description: The following services are part of the Device & Logistics API. Refer to [Device & Logistics API](/developer-guide/logistics-api/how-to-use-logistics-api) section for more information.
  x-displayName: Signature
paths:
  /oauth2_user/authorize2:
    get:
      tags:
      - oauth2
      summary: OAuth 2.0 - Get your authentication code
      description: |-
        Use the ```authorize``` method which will construct a URL and redirect to it. It will ask the user for permissions. The user will be able to sign up for a new account or to sign in with their existing account.

        When the user has accepted, he is redirected to your application (using the redirect_uri) with the code and the state.

        **Important**:

         - Must be called as GET call.
         - The authentication code is available for 30 seconds.
      operationId: oauth2-authorize
      parameters:
      - name: response_type
        in: query
        description: Must take the constant string value ```code```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Your ```Client ID```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: state
        in: query
        description: A value you define. This can be used to make sure that the redirect back to your site or app wasn’t spoofed.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: scope
        in: query
        description: A comma-separated list of permission scopes you want to ask your user for (see the [Index Data API](/developer-guide/data-api/index-data-api) section to know which scope you should use).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: redirect_uri
        in: query
        description: "The URI we should redirect the user to after choosing to authorize or not your app. This URI must be set as ```Callback Url``` in your partner application. It is possible to use multiple URLs by separating them with a comma.<br />Examples:<br />\n\t\t\t\t\t\t\t\t\t  <ul>\n\t\t\t\t\t\t\t\t\t\t  <li>Callbacks: https://mydomain.com/</li>\n\t\t\t\t\t\t\t\t\t\t  <li>Callback: https://mydomain.com/,https://mydomain2.com/</li>\n\t\t\t\t\t\t\t\t\t\t  <li>Valid URL: https://mydomain.com/relative_path?args=value</li>\n\t\t\t\t\t\t\t\t\t  </ul>"
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mode
        in: query
        description: Only set to use the demo user. For demo user must take the constant string value ```demo```.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
      x-codeSamples: {}
    servers:
    - url: https://account.withings.com/
  /v2/oauth2:
    post:
      tags:
      - oauth2
      summary: OAuth 2.0 - Get your access token
      description: |-
        After you obtain the ```Authorization Code``` you can request an ```Access Token```.

        **Important:** Must be called as POST call and parameters must be set in the body request as form-data parameters and not in the url.
      operationId: oauth2-getaccesstoken
      parameters:
      - name: action
        in: query
        description: Must take the string value ```requesttoken```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Your ```Client ID```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [client_secret]. A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce)).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [client_secret]. Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_secret
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [signature,nonce]. Your ```Client Secret```.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: grant_type
        in: query
        description: Must take the constant string value ```authorization_code```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: code
        in: query
        description: The Authorization Code you got from previous step.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: redirect_uri
        in: query
        description: The URI you use in the first call.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'requesttoken',\n\t'grant_type' => 'authorization_code',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'client_secret' => 'd9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f',\n\t'code' => 'mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh',\n\t'redirect_uri' => 'https://www.withings.com'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=requesttoken&grant_type=authorization_code&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&client_secret=d9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f&code=mtwsikawoqleuroqcluggflrqilrnqbgqvqeuhhh&redirect_uri=https://www.withings.com" 'https://wbsapi.withings.net/v2/oauth2'
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/oauth2  ':
    post:
      tags:
      - oauth2
      summary: OAuth 2.0 - Refresh your access token
      description: |-
        If user's ```Access Token``` is expired, use this service with user's ```Refresh Token``` to get a new ```Access Token``` (and a new ```Refresh Token```) and be able to make requests again.

        **Important:**

         - Must be called as POST call and parameters must be set in the body request as application/x-www-form-urlencoded parameters and not in the url.
         - This service also returns a new  ```Refresh Token```. You have to overwrite your current  ```Refresh Token``` with the new one.
      operationId: oauth2-refreshaccesstoken
      parameters:
      - name: action
        in: query
        description: Must take the string value ```requesttoken```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Your ```Client ID```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [client_secret]. A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce)).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [client_secret]. Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_secret
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [signature,nonce]. Your ```Client Secret```.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: grant_type
        in: query
        description: Must take the constant string value ```refresh_token```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: refresh_token
        in: query
        description: The current valid ```Refresh Token```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'requesttoken',\n\t'grant_type' => 'refresh_token',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'client_secret' => 'd9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f',\n\t'refresh_token' => '9697c3d06ccfd1ca302f5a527d345a9f99ea88a2'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=requesttoken&grant_type=refresh_token&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&client_secret=d9286311451fc6ed71b372a075c58c5058be158f56a77865e43ab3783255424f&refresh_token=9697c3d06ccfd1ca302f5a527d345a9f99ea88a2" 'https://wbsapi.withings.net/v2/oauth2'
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/oauth2 ':
    post:
      tags:
      - oauth2
      summary: OAuth 2.0 - Retrieve a new authorization code
      description: |-
        This service allows you to retrieve a new authorization code in the event that the refresh token is invalid for a user belonging to your namespace. This service should not be used for standard end-user accounts. To generate a new authorization code for standard end-user accounts, please use the service [OAuth 2.0 - Get your authentication code](#operation/oauth2-authorize).

        Please note that this service is limited to partners who have a contract with Withings.
      operationId: oauth2-recoverauthorizationcode
      parameters:
      - name: action
        in: query
        description: Must take the string value ```recoverauthorizationcode```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Your ```Client ID```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: User's email address
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_1'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/oauth2\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'recoverauthorizationcode',\n\t'client_id' => '7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67',\n\t'signature' => '58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2',\n\t'nonce' => 'c455541b8f9111689adb647d32fac07a6ffe462d',\n\t'email' => 'recoverauthorizationcode@withings.com'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=recoverauthorizationcode&client_id=7573fd4a4c421ddd102dac406dc6e0e0e22f683c4a5e81ff0a5caf8b65abed67&signature=58c0c4ad271fb20df9b96c63dc68d6c550c0b7896f743262fc4c5b9261f32ab2&nonce=c455541b8f9111689adb647d32fac07a6ffe462d&email=recoverauthorizationcode@withings.com" 'https://wbsapi.withings.net/v2/oauth2'
    servers:
    - url: https://wbsapi.withings.net/
  /measure:
    post:
      tags:
      - measure
      summary: Measure  - Getmeas
      description: Provides measures stored on a specific date among the types bellow. Please refer to the following responses for details.
      operationId: measure-getmeas
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getmeas```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: meastype
        in: query
        description: |
          Requested measure type :


          |Value | Description|
          |---|---|
          |1 | Weight (kg)|
          |4 | Height (meter)|
          |5 | Fat Free Mass (kg)|
          |6 | Fat Ratio (%)|
          |8 | Fat Mass Weight (kg)|
          |9 | Diastolic Blood Pressure (mmHg)|
          |10 | Systolic Blood Pressure (mmHg)|
          |11 | Heart Pulse (bpm) - only for BPM and scale devices|
          |12 | Temperature (celsius)|
          |54 | SP02 (%)|
          |71 | Body Temperature (celsius)|
          |73 | Skin Temperature (celsius)|
          |76 | Muscle Mass (kg)|
          |77 | Hydration (kg)|
          |88 | Bone Mass (kg)|
          |91 | Pulse Wave Velocity (m/s)|
          |123 | VO2 max is a numerical measurement of your body’s ability to consume oxygen (ml/min/kg).|
          |135 | QRS interval duration based on ECG signal|
          |136 | PR interval duration based on ECG signal|
          |137 | QT interval duration based on ECG signal|
          |138 | Corrected QT interval duration based on ECG signal|
          |139 | Atrial fibrillation result from PPG|
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: meastypes
        in: query
        description: 'List of requested measure types (separated by a comma).<br>Ex: meastypes=1,4,12'
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
      - name: category
        in: query
        description: '```1``` for real measures, ```2``` for user objectives.'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: startdate
        in: query
        description: Measures' start date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: enddate
        in: query
        description: Measures' end date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: When a first call returns ```more:1``` and ```offset:XX```, set value ```XX``` in this parameter to retrieve next available rows.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: lastupdate
        in: query
        description: Timestamp for requesting data that were updated or created after this date.<br>Useful for data synchronization between systems.<br>Use this instead of startdate + enddate.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_2'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/measure\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getmeas',\n\t'meastype' => 'meastype',\n\t'meastypes' => 'meastypes',\n\t'category' => 'category',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'offset' => 'offset',\n\t'lastupdate' => 'int'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getmeas&meastype=meastype&meastypes=meastypes&category=category&startdate=startdate&enddate=enddate&offset=offset&lastupdate=int" ''https://wbsapi.withings.net/measure'''
    servers:
    - url: https://wbsapi.withings.net/
  '/notify ':
    post:
      tags:
      - notify
      summary: Notify  - Get
      description: Returns the last notification service that a user was subscribed to, and its expiry date.
      operationId: notify-get
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```get```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: callbackurl
        in: query
        description: Your ```Callback URL```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: appli
        in: query
        description: Refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section to know which value you should use.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_3'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=get&callbackurl=callbackurl&appli=appli" ''https://wbsapi.withings.net/notify '''
    servers:
    - url: https://wbsapi.withings.net/
  '/notify  ':
    post:
      tags:
      - notify
      summary: Notify  - List
      description: Lists notification configuration for this user.
      operationId: notify-list
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```list```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: appli
        in: query
        description: Refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section to know which value you should use.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_4'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'list',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=list&appli=appli" ''https://wbsapi.withings.net/notify  '''
    servers:
    - url: https://wbsapi.withings.net/
  '/notify    ':
    post:
      tags:
      - notify
      summary: Notify  - Revoke
      description: This service disables the notification between the API and the specified applications for the user.
      operationId: notify-revoke
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```revoke```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: callbackurl
        in: query
        description: Your ```Callback URL```.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: appli
        in: query
        description: Refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section to know which value you should use.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify    \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'revoke',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=revoke&callbackurl=callbackurl&appli=appli" ''https://wbsapi.withings.net/notify    '''
    servers:
    - url: https://wbsapi.withings.net/
  /notify:
    post:
      tags:
      - notify
      summary: Notify  - Subscribe
      description: |
        This service allows to receive notifications from Withings:

        - for the Data API : when a new data is available ([more information](/developer-guide/data-api/data-update-notifications)). Please note that you need to subscribe for each individual user.
        - for the Logistics API: when there is an order update ([more information](/developer-guide/logistics-api/order-update-notifications))
        - for the Advanced user API (Activate service or Withings SDK): it could be triggered on various events relating to your users and devices management. Please note that you need to subscribe once per developer application.

        **Note**: depending on the use case, the reqest parameters may change:

        - for the Data API: you should use a valid ```access_token``` in the header without the parameters ```signature``` and ```nonce``` in the query parameters.
        - for the Logistics API: there is no need to subscribe (please refer [here](/developer-guide/logistics-api/order-update-notifications#how-to-receive-order-update-notifications))
        - for the Advanced user API (Activate services or SDK): you should use the parameters ```signature``` and ```nonce``` without any ```access_token``` in the header.
      operationId: notify-subscribe
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```subscribe```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: callbackurl
        in: query
        description: Your ```Callback URL```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: appli
        in: query
        description: Refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section to know which value you should use.
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: signature
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [access_token]<br>Id of the client'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: comment
        in: query
        description: Comment.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'subscribe',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'client_id' => 'client_id',\n\t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=subscribe&callbackurl=callbackurl&appli=appli&signature=signature&nonce=string&client_id=client_id&comment=comment" ''https://wbsapi.withings.net/notify'''
    servers:
    - url: https://wbsapi.withings.net/
  '/notify   ':
    post:
      tags:
      - notify
      summary: Notify  - Update
      description: Updates the callbackurl and or appli of a created notification.
      operationId: notify-update
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```update```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: callbackurl
        in: query
        description: Your ```Callback URL```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: appli
        in: query
        description: Refer to the [Notifications](/developer-guide/data-api/how-to-use-data-api) section to know which value you should use.
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: new_callbackurl
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_appli, comment]<br>The new callback url.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: new_appli
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, comment]<br>The new application type.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: comment
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [new_callbackurl, new_appli]<br>Comment.'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/notify   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'update',\n\t'callbackurl' => 'callbackurl',\n\t'appli' => 'appli',\n\t'new_callbackurl' => 'new_callbackurl',\n\t'new_appli' => 'new_appli',\n\t'comment' => 'comment'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=update&callbackurl=callbackurl&appli=appli&new_callbackurl=new_callbackurl&new_appli=new_appli&comment=comment" ''https://wbsapi.withings.net/notify   '''
    servers:
    - url: https://wbsapi.withings.net/
  /v2/dropshipment:
    post:
      tags:
      - dropshipment
      summary: Dropshipment v2  - Createorder
      description: |-
        Creates a dropshipment order.

        Please note that if one order has an invalid address, none of the orders will be created.
      operationId: dropshipmentv2-createorder
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```createorder```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Refer to [Order model](#section/Models/Order). The maximum number of orders is 10 per API request.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: customerid
        in: query
        description: Your dropshipment billing ID. If you don't know it, ignore this parameter.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: testmode
        in: query
        description: 'If is set, it will create fake orders, and simulate the evolution of the orders status and sending of notifications.<br>```1```: ```SHIPPED``` sequence<br>```2```: ```TRASHED``` sequence<br>```3```: ```FAILED``` sequence<br>```4```: ```BACKHOLD``` sequence'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_6'
              examples:
                OK:
                  value:
                    status: 0
                    body:
                      orders:
                      - order_id: D12345678
                        customer_ref_id: MOUVEMENTREFERENCE12345678
                        status: VERIFIED
                        products:
                        - ean: "3700546702518"
                          quantity: 3
                AddressError:
                  value:
                    status: 503
                    body:
                      invalid_address_customer_ref_ids:
                      - MOUVEMENTREFERENCE12345678
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'createorder',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' => 'signature',\n\t'order' => 'order',\n\t'customerid' => 'customerid',\n\t'testmode' => 0\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=createorder&client_id=client_id&nonce=string&signature=signature&order=order&customerid=customerid&testmode=0" 'https://wbsapi.withings.net/v2/dropshipment'
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/dropshipment ':
    post:
      tags:
      - dropshipment
      summary: Dropshipment v2  - Createuserorder
      description: "Creates a Withings user, then creates a dropshipment order and links the devices shipped to the created user after the shipment is done. If a cellular device is listed in the order field, the service will activate this device's cellular service and invoicing. The service Createuserorder gathers the services:\n  \n   - [Dropshipment v2 - Createorder](#operation/dropshipmentv2-createorder)\n   - [User v2 - Link](#operation/userv2-link)\n\nPlease refer to [Token Reception](/developer-guide/logistics-api/authentication#token-reception) section to get more information on access and refresh tokens so that you'll be able to retrieve user data using the Data API.\n\nPlease note that if one order has an invalid address, none of the orders will be created."
      operationId: dropshipmentv2-createuserorder
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```createuserorder```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mailingpref
        in: query
        description: Specifies if customer accepted Withings commercial contacts.
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: birthdate
        in: query
        description: Unix timestamp of user's birthdate
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: measures
        in: query
        description: User measures (Cf. [Measures](#section/Models/Measures) model).
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: gender
        in: query
        description: '0: man, 1: woman'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: preflang
        in: query
        description: 'Language preference. Examples: en_EN / en_US / de_DE / es_ES / fr_FR / it_IT / ja_JA / ko_KR / nl_NL / pt_PT / ru_RU / zh_CN'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: unit_pref
        in: query
        description: Unit pref (cf. [Unit preferences](#section/Models/Unit-preferences) model).
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: email
        in: query
        description: User's email address
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: email
      - name: timezone
        in: query
        description: 'User''s timezone. Examples: "Europe/Paris" / "America/New_York". A complete list of all possible timezones can be found on the "TZ database name" column of this page : https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: shortname
        in: query
        description: '3 characters representing the end user (ex: for a user named Robert, you could set the shortname param to ROB). These characters will be displayed on device screens when used.<br>Shortname must respect the following regex: /^[a-zA-Z0-9]{3}$/ (either letters or numbers, special characters and spaces are not allowed).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: external_id
        in: query
        description: Partner end-user unique identifier (Cf. [Token Reception](/developer-guide/logistics-api/authentication#token-reception) section)
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Refer to [Order model](#section/Models/Order). The maximum number of orders is 10 per API request.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: firstname
        in: query
        description: User's firstname (if not set, will take the same value as shortname)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastname
        in: query
        description: User's lastname (if not set, will take the same value as shortname)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phonenumber
        in: query
        description: Phone number in E.164 format. End user will receive a verification code on this phone number for 2 factor authentication if they wish to securely access the data of their program in the withings app in the future (recommended)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recovery_code
        in: query
        description: Recovery code can be used by end user as a 2nd authentication factor in the withings app if they wish to securely access the data of their program in the future.  You will be responsible of securely providing this recovery code to your user if he asks for it.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: goals
        in: query
        description: Goals (cf. [Goals](#section/Models/Goals) model).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: testmode
        in: query
        description: 'If is set, it will create fake orders, and simulate the evolution of the orders status and sending of notifications.<br>```1```: ```SHIPPED``` sequence<br>```2```: ```TRASHED``` sequence<br>```3```: ```FAILED``` sequence<br>```4```: ```BACKHOLD``` sequence'
        required: false
        style: form
        explode: true
        schema:
          type: integer
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_7'
              examples:
                OK:
                  value:
                    status: 0
                    body:
                      user:
                        code: 490ed603fe9bd2ce10027bdba0c932069cd27085
                        external_id: 3b7a6db0-ec7e-479b-9675-2a3d8d6a7e51
                      orders:
                      - order_id: D12345678
                        customer_ref_id: MOUVEMENTREFERENCE12345678
                        status: VERIFIED
                        products:
                        - ean: "3700546702518"
                          quantity: 3
                AddressError:
                  value:
                    status: 503
                    body:
                      invalid_address_customer_ref_ids:
                      - MOUVEMENTREFERENCE12345678
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'createuserorder',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' => 'signature',\n\t'mailingpref' => 'mailingpref',\n\t'birthdate' => 1563746400,\n\t'measures' => 'measures',\n\t'gender' => 'int',\n\t'preflang' => 'en_EN',\n\t'unit_pref' => 'unit_pref',\n\t'email' => 'email',\n\t'timezone' => 'Europe/Paris',\n\t'shortname' => 'shortname',\n\t'external_id' => 'external_id',\n\t'order' => 'order',\n\t'firstname' => 'firstname',\n\t'lastname' => 'lastname',\n\t'phonenumber' => 'string',\n\t'recovery_code' => 'string',\n\t'goals' => 'json',\n\t'testmode' => 0\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=createuserorder&client_id=client_id&nonce=string&signature=signature&mailingpref=mailingpref&birthdate=1563746400&measures=measures&gender=int&preflang=en_EN&unit_pref=unit_pref&email=email&timezone=Europe/Paris&shortname=shortname&external_id=external_id&order=order&firstname=firstname&lastname=lastname&phonenumber=string&recovery_code=string&goals=json&testmode=0" 'https://wbsapi.withings.net/v2/dropshipment '
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/dropshipment   ':
    post:
      tags:
      - dropshipment
      summary: Dropshipment v2  - Delete
      description: Delete a dropshipment order.
      operationId: dropshipmentv2-delete
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```delete```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order_id
        in: query
        description: Withings generated identifier used to track your order.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_5'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'delete',\n\t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'order_id' => 'string'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=delete&client_id=client_id&signature=signature&nonce=string&order_id=string" 'https://wbsapi.withings.net/v2/dropshipment   '
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/dropshipment  ':
    post:
      tags:
      - dropshipment
      summary: Dropshipment v2  - Getorderstatus
      description: Get dropshipment order information.
      operationId: dropshipmentv2-getorderstatus
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getorderstatus```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order_ids
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [customer_ref_ids]<br>List of order_id'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: customer_ref_ids
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [order_ids]<br>Movement reference number of dropshipment orderlines'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: customerid
        in: query
        description: Your dropshipment billing ID. If you don't know it, ignore this parameter.
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_8'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getorderstatus',\n\t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'order_ids' => 'json',\n\t'customer_ref_ids' => 'json',\n\t'customerid' => 'customerid'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=getorderstatus&client_id=client_id&signature=signature&nonce=string&order_ids=json&customer_ref_ids=json&customerid=customerid" 'https://wbsapi.withings.net/v2/dropshipment  '
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/dropshipment    ':
    post:
      tags:
      - dropshipment
      summary: Dropshipment v2  - Update
      description: Update a dropshipment order.
      operationId: dropshipmentv2-update
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```update```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order_id
        in: query
        description: Withings generated identifier used to track your order.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: order
        in: query
        description: Refer to [Order model](#section/Models/Order). Restricted to one order only.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_9'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/dropshipment    \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'update',\n\t'client_id' => 'client_id',\n\t'signature' => 'signature',\n\t'nonce' => 'string',\n\t'order_id' => 'string',\n\t'order' => 'order'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=update&client_id=client_id&signature=signature&nonce=string&order_id=string&order=order" 'https://wbsapi.withings.net/v2/dropshipment    '
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/heart ':
    post:
      tags:
      - heart
      summary: Heart v2  - Get
      description: "Provides the full data set of the ECG recordings in micro-volt (μV).\n\n**Duration:**\n\n - BPM Core: 20 seconds.\n - Move ECG: 30 seconds.\n\t\n**Sampling frequency:**\n\n - BPM Core: 500 Hz.\n - Move ECG: 300 Hz."
      operationId: heartv2-get
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```get```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signalid
        in: query
        description: ID of a signal
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_10'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/heart \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'signalid' => 'signalid'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=get&signalid=signalid" ''https://wbsapi.withings.net/v2/heart '''
    servers:
    - url: https://wbsapi.withings.net/
  /v2/heart:
    post:
      tags:
      - heart
      summary: Heart v2  - List
      description: "Provides list of ECG recordings and Afib classification in the chosen period of time. To get the full ECG signal, please refer to [Heart v2 - Get](#operation/heartv2-get)\n\t\t\t\t\nIf the ECG recordings have been taken with BPM Core, the blood pressure is also provided."
      operationId: heartv2-list
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```list```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdate
        in: query
        description: Measures' start date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: enddate
        in: query
        description: Measures' end date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: When a first call returns ```more:true``` and ```offset:XX```, set value ```XX``` in this parameter to retrieve next available rows.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_11'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/heart\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'list',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'offset' => 'offset'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=list&startdate=startdate&enddate=enddate&offset=offset" ''https://wbsapi.withings.net/v2/heart'''
    servers:
    - url: https://wbsapi.withings.net/
  /v2/measure:
    post:
      tags:
      - measure
      summary: Measure v2  - Getactivity
      description: Provides daily aggregated activity data of a user.
      operationId: measurev2-getactivity
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getactivity```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>Start date.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: enddateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>End date.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: lastupdate
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [startdateymd, enddateymd]<br>Timestamp for requesting data that were updated or created after this date.<br>Useful for data synchronization between systems.<br>Use this instead of startdateymd + enddateymd.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: When a first call returns ```more:true``` and ```offset:XX```, set value ```XX``` in this parameter to retrieve next available rows.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: data_fields
        in: query
        description: 'List of requested data fields, separated by a comma.<br>Available data fields are listed above.<br><u>Ex</u>: data_fields=steps,distance,elevation<br><br>steps<br>> Number of steps. <br><br>distance<br>> Distance travelled (in meters). <br><br>elevation<br>> Number of floors climbed. <br><br>soft<br>> Duration of soft activities (in seconds). <br><br>moderate<br>> Duration of moderate activities (in seconds). <br><br>intense<br>> Duration of intense activities (in seconds). <br><br>active<br>> Sum of intense and moderate activity durations (in seconds). <br><br>calories<br>> Active calories burned (in Kcal). Calculated by mixing fine granularity calories estimation, workouts estimated calories and calories manually set by the user. <br><br>totalcalories<br>> Total calories burned (in Kcal). Obtained by adding active calories (see ```calories```) and passive calories.<br><br>hr_average<br>> Average heart rate. <br><br>hr_min<br>> Minimal heart rate. <br><br>hr_max<br>> Maximal heart rate. <br><br>hr_zone_0<br>> Duration in seconds when heart rate was in a light zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_1<br>> Duration in seconds when heart rate was in a moderate zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_2<br>> Duration in seconds when heart rate was in an intense zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_3<br>> Duration in seconds when heart rate was in maximal zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_12'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getactivity',\n\t'startdateymd' => '2020-07-01',\n\t'enddateymd' => '2020-07-02'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getactivity&startdateymd=2020-07-01&enddateymd=2020-07-02" ''https://wbsapi.withings.net/v2/measure'''
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/measure  ':
    post:
      tags:
      - measure
      summary: Measure v2  - Getintradayactivity
      description: |-
        Retrieves activity data for the user with a fine granularity. The data is given per timestamp.

        **Notes:**

         - If startdate and enddate are separated by more than 24h, enddate will be overwritten with 24h past startdate. Also, without startdate and enddate, the last activity data will be rendered.
         - Without startdate and enddate parameters, the one last activity data will be returned.
      operationId: measurev2-getintradayactivity
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getintradayactivity```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdate
        in: query
        description: Measures' start date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: enddate
        in: query
        description: Measures' end date.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: data_fields
        in: query
        description: 'List of requested data fields, separated by a comma.<br>Available data fields are listed above.<br><u>Ex</u>: data_fields=steps,elevation,calories<br><br>steps<br>> Number of steps. <br><br>elevation<br>> Number of floors climbed. <br><br>calories<br>> Estimation of active calories burned (in Kcal). <br><br>distance<br>> Distance travelled (in meters). <br><br>stroke<br>> Number of strokes performed. <br><br>pool_lap<br>> Number of pool_lap performed. <br><br>duration<br>> Duration of the activity (in seconds). <br><br>heart_rate<br>> Measured heart rate. <br><br>spo2_auto<br>> SpO2 measurement automatically tracked by a device tracker<br><br>'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_13'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure  \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getintradayactivity',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'data_fields' => 'data_fields'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getintradayactivity&startdate=startdate&enddate=enddate&data_fields=data_fields" ''https://wbsapi.withings.net/v2/measure  '''
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/measure ':
    post:
      tags:
      - measure
      summary: Measure v2  - Getworkouts
      description: |-
        Retrieves data relevant to workout sessions from the different trackers.

        A workout session is defined by a startdate, an enddate, a category and other factors. The data is presented as aggregates for each workout session of a given day. Detailed minute-by-minute data for all workout activities is also available through the [Measure v2 - Getintradayactivity](#operation/measurev2-getintradayactivity) service.
      operationId: measurev2-getworkouts
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getworkouts```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>Start date.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: enddateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>End date. Required if startdateymd is provided.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: lastupdate
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [startdateymd, enddateymd]<br>Timestamp for requesting data that were updated or created after this date.<br>Useful for data synchronization between systems.<br>Use this instead of startdateymd + enddateymd.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: offset
        in: query
        description: When a first call returns ```more:true``` and ```offset:XX```, set value ```XX``` in this parameter to retrieve next available rows.
        required: false
        style: form
        explode: true
        schema:
          type: integer
      - name: data_fields
        in: query
        description: 'List of requested data fields, separated by a comma.<br>Available data fields are listed above.<br><u>Ex</u>: data_fields=calories,intensity,manual_distance<br><br>calories<br>> Active calories burned (in Kcal). <br><br>intensity<br>> Intensity.<br><br>manual_distance<br>> Distance travelled manually entered by user (in meters). <br><br>manual_calories<br>> Active calories burned manually entered by user (in Kcal). <br><br>hr_average<br>> Average heart rate. <br><br>hr_min<br>> Minimal heart rate. <br><br>hr_max<br>> Maximal heart rate. <br><br>hr_zone_0<br>> Duration in seconds when heart rate was in a light zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_1<br>> Duration in seconds when heart rate was in a moderate zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_2<br>> Duration in seconds when heart rate was in an intense zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>hr_zone_3<br>> Duration in seconds when heart rate was in maximal zone (cf. <a href=''/api-reference/#section/Glossary''>Glossary</a>). <br><br>pause_duration<br>> Total pause time in second filled by user<br><br>algo_pause_duration<br>> Total pause time in seconds detected by Withings device (swim only)<br><br>spo2_average<br>> Average percent of SpO2 percent value during a workout<br><br>steps<br>> Number of steps. <br><br>distance<br>> Distance travelled (in meters). <br><br>elevation<br>> Number of floors climbed. <br><br>pool_laps<br>> Number of pool laps. <br><br>strokes<br>> Number of strokes. <br><br>pool_length<br>> Length of the pool. <br><br>'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_14'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/measure \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getworkouts',\n\t'startdateymd' => '2020-07-01',\n\t'enddateymd' => '2020-07-02'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getworkouts&startdateymd=2020-07-01&enddateymd=2020-07-02" ''https://wbsapi.withings.net/v2/measure '''
    servers:
    - url: https://wbsapi.withings.net/
  /v2/signature:
    post:
      tags:
      - signature
      summary: Signature v2  - Getnonce
      description: "A ```nonce``` is a random token that is generated and stored in Withings server with 30 minutes of validity.\n\nAs a partner, you will use this nonce token in the API services that require a signature so that Withings will verify that the nonce token is still valid and never used before. The usage of a nonce token prevents your service calls from replay attacks.\n\nBecause this service is an Device Management service, Withings verifies your authorized access using your client_id and your secret based signature.\n\nTo generate the signature please follow those steps:\n\n- Sort the following parameters alphabetically:\n\t- action\n\t- client_id\n\t- timestamp\n- Generate a string by concatenating values separated by a comma. The string should look like: *value1,value2,value3*.\n- Apply a hmac hashing function on the string using the algorithm ```sha256``` and your partner ```client_secret```  (available in your [Withings partner dashboard](https://account.withings.com/partner/dashboard_oauth2)) as a secret key.\n- Add the hash string in the parameters under the key ```signature```"
      operationId: signaturev2-getnonce
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getnonce```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: timestamp
        in: query
        description: unix timestamp
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: signature
        in: query
        description: Cf. description above.
        required: true
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_15'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/signature\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getnonce',\n\t'client_id' => 'client_id',\n\t'timestamp' => 'timestamp',\n\t'signature' => 'signature'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=getnonce&client_id=client_id&timestamp=timestamp&signature=signature" 'https://wbsapi.withings.net/v2/signature'
    servers:
    - url: https://wbsapi.withings.net/
  /v2/sleep:
    post:
      tags:
      - sleep
      summary: Sleep v2  - Get
      description: |-
        Provides the sleep measures for the night of the user, with the details of each phase of their sleep cycle.

        **Note**: if startdate and enddate are separated by more than 24h, enddate will be overwritten with 24h past startdate.
      operationId: sleepv2-get
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```get```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdate
        in: query
        description: Measures' start date.
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: enddate
        in: query
        description: Measures' end date.
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: data_fields
        in: query
        description: 'List of requested data fields, separated by a comma.<br>Available data fields are listed above.<br><u>Ex</u>: data_fields=hr,rr,snoring<br><br>hr<br>> Heart Rate. <br><br>rr<br>> Respiration Rate. <br><br>snoring<br>> Total snoring time<br><br>'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_16'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/sleep\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'startdate' => 'startdate',\n\t'enddate' => 'enddate',\n\t'data_fields' => 'data_fields'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=get&startdate=startdate&enddate=enddate&data_fields=data_fields" ''https://wbsapi.withings.net/v2/sleep'''
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/sleep ':
    post:
      tags:
      - sleep
      summary: Sleep v2  - Getsummary
      description: Get the basic information about a night of the user, such as the total time they slept, how long it took them to fall asleep, etc.
      operationId: sleepv2-getsummary
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getsummary```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: startdateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>Start date. Required if no lastupdate.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: enddateymd
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [lastupdate]<br>End date. Required if startdateymd is provided.'
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: Y-m-d
      - name: lastupdate
        in: query
        description: 'DO NOT USE WITH FOLLOWING PARAMS: [startdateymd, enddateymd]<br>Timestamp for requesting data that were updated or created after this date.<br>Useful for data synchronization between systems.<br>Use this instead of startdateymd + enddateymd.'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: data_fields
        in: query
        description: 'List of requested data fields, separated by a comma.<br>Available data fields are listed above.<br><u>Ex</u>: data_fields=apnea_hypopnea_index,asleepduration,breathing_disturbances_intensity<br><br><b><i>Standard sleep medicine metrics</i></b><br><br>nb_rem_episodes<br>> Count of the REM sleep phases. <br><br>sleep_efficiency<br>> Ratio of the total sleep time over the time spent in bed. <br><br>sleep_latency<br>> Time spent in bed before falling asleep. <br><br>total_sleep_time<br>> Total time spent asleep. Sum of light, deep and rem durations. <br><br>total_timeinbed<br>> Total time spent in bed. <br><br>wakeup_latency<br>> Time spent in bed after waking up. <br><br>waso<br>> Time spent awake in bed after falling asleep for the 1st time during the night. <br><br><br><b><i>Sleep apnea and breathing disturbances</i></b><br><br>apnea_hypopnea_index<br>> Medical grade AHI. Only available for devices purchased in Europe and Australia, with the sleep apnea detection feature activated. Average number of hypopnea and apnea episodes per hour, that occured during sleep time.<br><br>breathing_disturbances_intensity<br>> Wellness metric, available for all Sleep and Sleep Analyzer devices. Intensity of <a href=''/api-reference/#section/Glossary''>breathing disturbances</a><br><br><br><b><i>Other sleep datapoints and vitals</i></b><br><br>asleepduration<br>> Duration of sleep when night comes from external source (light, deep and rem sleep durations are null in this case). <br><br>deepsleepduration<br>> Duration in state deep sleep (in seconds). <br><br>durationtosleep<br>> Time to sleep (in seconds). (deprecated) <br><br>durationtowakeup<br>> Time to wake up (in seconds). (deprecated) <br><br>hr_average<br>> Average heart rate. <br><br>hr_max<br>> Maximal heart rate. <br><br>hr_min<br>> Minimal heart rate. <br><br>lightsleepduration<br>> Duration in state light sleep (in seconds). <br><br>night_events<br>> Events list happened during the night<br><br>out_of_bed_count<br>> Number of times the user got out of bed during the night. <br><br>remsleepduration<br>> Duration in state REM sleep (in seconds). <br><br>rr_average<br>> Average respiration rate. <br><br>rr_max<br>> Maximal respiration rate. <br><br>rr_min<br>> Minimal respiration rate. <br><br>sleep_score<br>> Sleep score<br><br>snoring<br>> Total snoring time<br><br>snoringepisodecount<br>> Numbers of snoring episodes of at least one minute<br><br>wakeupcount<br>> Number of times the user woke up while in bed. Does not include the number of times the user got out of bed. <br><br>wakeupduration<br>> Time spent awake (in seconds). <br><br>'
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_17'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/sleep \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getsummary',\n\t'startdateymd' => '2020-07-01',\n\t'enddateymd' => '2020-07-02'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getsummary&startdateymd=2020-07-01&enddateymd=2020-07-02" ''https://wbsapi.withings.net/v2/sleep '''
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/user ':
    post:
      tags:
      - user
      summary: User v2  - Activate
      description: |-
        This service is part of Device & Logistics API. Refer to [Device & Logistics API](/developer-guide/logistics-api/how-to-use-logistics-api) section for more information.

        Creates a Withings user, links the devices related to the provided mac addresses and activates the cellular devices service and invoicing.

        Please refer to [Token Reception](/developer-guide/logistics-api/authentication#token-reception) section to get more information on access and refresh tokens so that you'll be able to retrieve user data using the Data API.

        **Important**:

        - Please note that to activate the Withings HUB cellular service, the mac address of the Withings HUB needs to be passed in the input parameter mac_addresses along with the other Withings devices.
        - Please note that the devices need to be authorized to be linked by API by the Partner. Please [contact Withings](mailto:partner-api@withings.com) for more information on device authorization.
      operationId: userv2-activate
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```activate```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mailingpref
        in: query
        description: Specifies if customer accepted Withings commercial contacts.
        required: true
        style: form
        explode: true
        schema:
          type: boolean
      - name: birthdate
        in: query
        description: Unix timestamp of user's birthdate
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: measures
        in: query
        description: User measures (Cf. [Measures](#section/Models/Measures) model).
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: gender
        in: query
        description: '0: man, 1: woman'
        required: true
        style: form
        explode: true
        schema:
          type: integer
      - name: preflang
        in: query
        description: 'Language preference. Examples: en_EN / en_US / de_DE / es_ES / fr_FR / it_IT / ja_JA / ko_KR / nl_NL / pt_PT / ru_RU / zh_CN'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: unit_pref
        in: query
        description: Unit pref (cf. [Unit preferences](#section/Models/Unit-preferences) model).
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      - name: email
        in: query
        description: User's email address
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: email
      - name: timezone
        in: query
        description: 'User''s timezone. Examples: "Europe/Paris" / "America/New_York". A complete list of all possible timezones can be found on the "TZ database name" column of this page : https://en.wikipedia.org/wiki/List_of_tz_database_time_zones'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: shortname
        in: query
        description: '3 characters representing the end user (ex: for a user named Robert, you could set the shortname param to ROB). These characters will be displayed on device screens when used.<br>Shortname must respect the following regex: /^[a-zA-Z0-9]{3}$/ (either letters or numbers, special characters and spaces are not allowed).'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: external_id
        in: query
        description: Partner end-user unique identifier (Cf. [Token Reception](/developer-guide/logistics-api/authentication#token-reception) section)
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: mac_addresses
        in: query
        description: 'List of Withings device MAC addresses that will be linked to the created user. Example: ["00:24:e4:xx:xx:xx","00:24:e4:xx:xx:xx"]'
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: firstname
        in: query
        description: User's firstname (if not set, will take the same value as shortname)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: lastname
        in: query
        description: User's lastname (if not set, will take the same value as shortname)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: phonenumber
        in: query
        description: Phone number in E.164 format. End user will receive a verification code on this phone number for 2 factor authentication if they wish to securely access the data of their program in the withings app in the future (recommended)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: recovery_code
        in: query
        description: Recovery code can be used by end user as a 2nd authentication factor in the withings app if they wish to securely access the data of their program in the future.  You will be responsible of securely providing this recovery code to your user if he asks for it.
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: goals
        in: query
        description: Goals (cf. [Goals](#section/Models/Goals) model).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: json
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_18'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/user \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'activate',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' => 'signature',\n\t'mailingpref' => 'mailingpref',\n\t'birthdate' => 1563746400,\n\t'measures' => 'measures',\n\t'gender' => 'int',\n\t'preflang' => 'en_EN',\n\t'unit_pref' => 'unit_pref',\n\t'email' => 'email',\n\t'timezone' => 'Europe/Paris',\n\t'shortname' => 'shortname',\n\t'external_id' => 'external_id',\n\t'mac_addresses' => '[\"00:24:e4:xx:xx:xx\",\"00:24:e4:xx:xx:xx\"]',\n\t'firstname' => 'firstname',\n\t'lastname' => 'lastname',\n\t'phonenumber' => 'string',\n\t'recovery_code' => 'string',\n\t'goals' => 'json'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=activate&client_id=client_id&nonce=string&signature=signature&mailingpref=mailingpref&birthdate=1563746400&measures=measures&gender=int&preflang=en_EN&unit_pref=unit_pref&email=email&timezone=Europe/Paris&shortname=shortname&external_id=external_id&mac_addresses=["00:24:e4:xx:xx:xx","00:24:e4:xx:xx:xx"]&firstname=firstname&lastname=lastname&phonenumber=string&recovery_code=string&goals=json" 'https://wbsapi.withings.net/v2/user '
    servers:
    - url: https://wbsapi.withings.net/
  /v2/user:
    post:
      tags:
      - user
      summary: User v2  - Get
      description: |-
        Retrieve the user info using the user's email.

        For data privacy reasons, User v2 - Get API is dedicated to solutions for which the provider is responsible for the account creation (ie Withings cellular solutions and solutions including the Withings SDK).

        This API will return an error if the account was created by the end user in the Withings app.
      operationId: userv2-get
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```get```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: client_id
        in: query
        description: Id of the client
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: nonce
        in: query
        description: A random token used to prevent replay attacks (Cf. [Signature v2 - Getnonce](#operation/signaturev2-getnonce))
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Hash of params (Cf. [Signature hash protocol](/developer-guide/logistics-api/authentication#signature-hash-protocol)).
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: email
        in: query
        description: User's email address
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: email
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_19'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/user\");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'get',\n\t'client_id' => 'client_id',\n\t'nonce' => 'string',\n\t'signature' => 'signature',\n\t'email' => 'email'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: curl --data "action=get&client_id=client_id&nonce=string&signature=signature&email=email" 'https://wbsapi.withings.net/v2/user'
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/user   ':
    post:
      tags:
      - user
      summary: User v2  - Getdevice
      description: Retrieve the list of user linked devices.
      operationId: userv2-getdevice
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getdevice```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_20'
      x-codeSamples:
      - lang: PHP
        source: "<?php\n\n$ch = curl_init();\n\ncurl_setopt($ch, CURLOPT_URL, \"https://wbsapi.withings.net/v2/user   \");\n\ncurl_setopt($ch, CURLOPT_RETURNTRANSFER, TRUE);\n\ncurl_setopt($ch, CURLOPT_HTTPHEADER, [\n\t'Authorization: Bearer YOUR_ACCESS_TOKEN'\n]);\n\ncurl_setopt($ch, CURLOPT_POSTFIELDS, http_build_query([ \n\t'action' => 'getdevice'\n]));\n\n$rsp = curl_exec($ch);\ncurl_close($ch);\n\nvar_dump($rsp);\n\n?>"
      - lang: CURL
        source: 'curl --header "Authorization: Bearer YOUR_ACCESS_TOKEN" --data "action=getdevice" ''https://wbsapi.withings.net/v2/user   '''
    servers:
    - url: https://wbsapi.withings.net/
  '/v2/user     ':
    post:
      tags:
      - user
      summary: User v2  - Getgoals
      description: Retrieve the goals of the user.
      operationId: userv2-getgoals
      parameters:
      - name: action
        in: query
        description: Service action name. Must take the string value ```getgoals```.
        required: true
        style: form
        explode: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: 'Used to pass your access token. Must take value: ```Bearer {your access_token}``` Replace {your access_token} with the access_token'
        required: true
        style: simple
        explode: false
        schema:
          type: string
      responses:
        "200":
          description: ' (Click to unfold)'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200_21'
      x-codeSamples:
      - lang: PHP
[...]
