/* ///////////////////////////////// */
.header-nav {
  clear: both;
  padding: 1%;
  display: flex;
  justify-content: end;
  z-index: 99999;
  background-color: #333335;
  width: 100%;
}

.main-content {
  width: 100%;
  height: 90vh;
  margin: 0 auto;
  padding: 0;
}

.boxes {
  float: right;
  position: relative;
  width: 90% !important;
  margin: 0 auto !important;
    /* padding: 0 2%; */
}

.sidebar {
  height: 100%;
  float: left;
  width: 30%;
  display: none;
  transition: 0.5s;
  background-color: #111;
  position: relative;
}
.box .card {
  border: 0;
}
@media (max-width: 600px) {
  .sidebar {
    width: 40%;
  }
}

.content-video video {
  border-radius: 5%;
}
.content-video {
  margin: 0%;
  height: auto;
  width: 100%;
  margin: 0 !important;
  padding: 0 !important;
}
.username-on-call {
  position: absolute;
  bottom: 0px;
  left: 0px;
  margin: 25px;
  z-index: 999;
  font-size: xx-large;
}
.username-on-call:hover {
  cursor: pointer;
}
.video-on-call {
  width: 100%;
  height: auto;
}
.box-preview {
  width: 300px !important;
  position: absolute;
  z-index: 9999;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 0;
}
.icon-profile {
  font-size: 150px;
}
.icon-menu {
  font-size: x-large;
}
.join-again {
  text-align: center;
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding: 1%;
}
.join-again .card {
  color: #fafafa;
  background-color: transparent;
}