body {
  background-color: #202124 !important;
  color: #fafafa;
}
main > .container-body {
  padding: 70px 15px 20px;
  width: 90%;
  margin: 0 auto;
}

.modal {
  color: black;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  padding: 0 10%;
}