body {
  background-color: #202124 !important;
  color: #fafafa;
}
main > .container-body {
  padding: 70px 15px 20px;
  width: 90%;
  margin: 0 auto;
}

.modal {
  color: black;
}

a {
  color: #fafafa;
}

a:hover {
  color: lightblue;
}

.fc-popover.fc-more-popover.fc-day.fc-day-tue.fc-day-today{
  background-color: black;
}